@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1C1E23;
  --foreground: #F9FAFB;
  --panel: #26292F;
  --surface: #2E323A;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-700 rounded-md;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}